@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';


*::selection{
  background-color: rgb(140, 0, 0);
  color: white;
}

option:checked {
  background-color: rgb(140, 0, 0);
  color: white;
}


option:focus{
  background-color: rgb(140, 0, 0);
  color: white;
}


body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .scroll-hidden::-webkit-scrollbar {
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.fa-solid.fa-film {
    color: red;
}

.resume{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.textin{
  border: solid 1px rgba(0, 0, 0, 0.494);
}

.affiche{
  transition: transform .5s ease;

}

.affiche:hover{
  transform: scale(1.05);
}

.affiche1{
  transition: transform .5s ease;

}

.affiche1:hover{
  transform: scale(.85);
}

.input-file {
  display: none;
}

.detail{
  margin: 50px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #01444A;
  color: aliceblue;
  
}

.ligne{
  display: flex;
  align-content: space-between;
  border-bottom: 1px groove rgb(240, 255, 250);
}

.resumes{
  display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;

}
